/*****************
動画投稿画面
******************/
.content{
    margin: 0;
    padding: 0;
    /* background-color:#b3d874; */
    align-content: center;
    text-align: center;
    width: 100vw;/*画面全体に引き伸ばす*/
    margin-right: calc(50% - 54.2vw);/*右横の余白を無くす*/
}
.create-form{
    position: relative;
}
h3{
    position: relative;
    margin: -100px 50px 150px -700px;
    padding: 0px 10px 10px 10px;
}
textarea{
    resize: none;
}
.form-floating.col-5{
    margin-left: 80px;
    margin-bottom: 30px;
}
.under-box{
    display: inline;

}
.col-3{
    display: flex;
    margin-left: 650px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.btn.btn-custom{
    width: 160px;
    background-color: #00a3af;
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-left: 380px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.btn.btn-secondary{
    width: 160px;
    border-radius: 30px 30px 30px 30px;
    margin-left: 830px;
    margin-top: -115px;
    margin-bottom: 50px;
}
.form-label.col-4{
    padding-top: 10px;
}
.form-floating.col-5.URL{
    margin-left: 600px;
    margin-top: -320px;
}
.modal-footer{
    padding-top: 30px;
    margin-bottom: 30px;
}
.btn.btn-primary.update{
    border-radius: 30px 30px 30px 30px;
    width: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
}
.btn.btn-danger.delete{
    border-radius: 30px 30px 30px 30px;
    width: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
}
.btn.btn-secondary.cancel{
    border-radius: 30px 30px 30px 30px;
    width: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
}
.error-text{
    color: red;
    text-align: justify;
}
.error-position{
    position: absolute;
    margin-top: 40px;
    margin-left: 16px;
}
