/*******************
アカウント登録画面
*******************/
.rounded-circle{
    margin: 10px;
}
.btn.btn-custom{
    border-radius: 30px 30px 30px 30px;
    width: 190px;
    margin: auto;
    margin-top: -10px;
    margin-left: 200px;
    margin-bottom: 20px;
    background-color: #00a3af;
    color: white;
}
.text-body-secondary{
    margin-left: 50px;
}
.text-end.mt-3{
    margin-bottom: 100px;
}
.label-color{
    color: #d3d3d3;
}
.error-text{
    color: #dc143c;
}
.modal-body.p-5.pt-0{
    text-align: center;
    margin-top: 50px
}
.modal-footer{
    padding-top: 30px;
    margin-bottom: 30px;
}
.btn.btn-primary.update{
    border-radius: 30px 30px 30px 30px;
    width: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
}
.btn.btn-secondary.cancel{
    border-radius: 30px 30px 30px 30px;
    width: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
}